registry=https://registry.npmmirror.com/
@ai:registry=https://packages.aliyun.com/61bc553fac40125af0f5fa3b/npm/npm-registry/
//packages.aliyun.com/61bc553fac40125af0f5fa3b/npm/npm-registry/:_authToken=ba3ea722-2e1b-4bb2-ba48-10ee72598fb0
shamefully-hoist=true # 拉平全部包